* {
  box-sizing: border-box; }

div {
  display: block; }

.head-main {
  height: auto;
  width: 100%; }

.hdiv {
  width: 100%; }

.one {
  display: inline-block;
  width: 100%;
  height: 50px;
  background: black; }

.two {
  width: 100%;
  height: 100px;
  background: #38e2e4; }

.backgr-cover {
  min-height: 590px;
  background: url(15.jpg) no-repeat;
  width: 100%;
  background-size: cover; }

.cover-left {
  width: 39%;
  background: rgba(0, 0, 0, 0.59);
  height: auto;
  min-height: 590px; }

.hbodydiv {
  width: 100%;
  height: 550px; }

.wdfo {
  height: 100%;
  width: 40%;
  background: brown; }

.di {
  display: inline-block; }

.fr {
  float: right; }

.wdfy {
  width: 50%;
  height: 100%; }

.h-five-hun {
  height: 500px; }

.wat {
  vertical-align: top; }

.wdsx {
  height: 100%;
  width: 60%;
  background: blue; }

.dfour {
  height: 100%; }

.he-fifty {
  height: 50%;
  margin: 0 auto; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.shop-cont {
  top: 10%;
  left: 25%;
  height: 80%;
  width: 50%; }

.shop-cont p {
  text-align: center; }

.shop-cont h2 {
  margin-top: 0;
  display: inline-block;
  vertical-align: middle;
  height: 15%;
  width: 100%;
  background-color: black;
  font-size: 24px;
  color: white;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.heart {
  margin-top: -15px;
  margin-bottom: -11px; }

.product-name {
  color: #38e2e4; }

.product-price {
  color: black;
  font-size: 16px; }

.shop-button button {
  margin-top: 0;
  border: none;
  background-color: #ff7000;
  height: 30px; }

.bred {
  background: red; }

.bgreen {
  background: green; }

.bgrey {
  background: grey; }

.bbrown {
  background: brown; }

.bblue {
  background: blue; }

.bblack {
  background: black; }

.bwhite {
  background: white; }

#foursquare {
  background: #F0F0F0;
  width: 50%;
  height: 500px;
  margin: auto;
  padding: 0px;
  display: block;
  position: absolute; }

#topleft {
  background-color: red;
  width: 50%;
  height: 50%;
  display: block;
  float: left; }

#topright {
  background-color: white;
  width: 50%;
  height: 50%;
  display: block;
  float: left;
  text-align: right;
  padding: 38px;
  font-family: 'Cabin', sans-serif; }

#bottomleft {
  background-color: white;
  width: 50%;
  height: 50%;
  display: block;
  float: left;
  clear: left;
  text-align: right;
  padding: 38px;
  font-family: 'Cabin', sans-serif; }

#bottomright {
  background-color: white;
  width: 50%;
  height: 50%;
  display: block;
  float: left; }

.shop-now {
  color: #67e2e2;
  font-size: 18px; }

.foursquare-text {
  color: #adadad; }

.card-cnt-cover {
  -webkit-box-shadow: -1px 2px 10px 3px #e6d4e6;
  -moz-box-shadow: -1px 2px 10px 3px #e6d4e6;
  box-shadow: -1px 2px 10px 3px #e6d4e6;
  border: 1px solid #e2e2e2;
  margin: 30px; }

.three-inone-div {
  width: 33.3333%;
  float: left; }

.three-inone-div .card-cnt {
  -webkit-box-shadow: -1px 2px 10px 3px #e6d4e6;
  -moz-box-shadow: -1px 2px 10px 3px #e6d4e6;
  box-shadow: -1px 2px 10px 3px #e6d4e6;
  border: 1px solid #e2e2e2;
  margin: 20px; }

.three-inone-div img {
  height: 100%;
  width: 100%; }

.three-inone-div p {
  text-align: center; }

.div-girl-img {
  padding-top: 282px;
  text-align: center;
  background: #ffffff url("girlcover.jpg") no-repeat;
  background-size: cover; }

.div-girl-img :nth-child(0) {
  color: #01cfcf;
  font-weight: bold;
  font-size: 26px;
  text-align: center; }

.div-girl-img:nth-child(1) {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center; }

.div-boy-img {
  padding-top: 282px;
  text-align: center;
  background: #ffffff url("boycover.jpg") no-repeat;
  background-size: cover; }

.social {
  text-align: center;
  background: white;
  height: 250px;
  width: 100%;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.social p {
  margin-left: 193px;
  font-size: 31px;
  display: inline-block;
  padding-left: 1px; }

.div-boy-img :nth-child(0) {
  color: #01cfcf;
  font-weight: bold;
  font-size: 26px;
  text-align: center; }

.div-boy-img:nth-child(1) {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center; }

.sq-img {
  height: 100%;
  width: 100%; }

.two-inone-model {
  height: 90%;
  width: 100%; }

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

#footer {
  height: 500px;
  width: 100%;
  background-color: #2e2e2e; }

#foot-container {
  margin: 0 auto;
  max-width: 80%;
  height: 100%; }

.contact-us {
  background: transparent;
  color: white;
  height: 50px;
  width: 150px; }

.content-foot {
  height: 50%; }

.foot-head {
  height: 131px;
  width: 100%; }

.foot-title {
  color: #fff;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: -6px; }

.foot-text {
  color: #999;
  font-size: 1em;
  line-height: 2em;
  margin-top: 0.5em; }

.banner {
  height: 146px;
  width: 100%;
  background: #ffffff url("banner.png") no-repeat;
  background-size: cover;
  color: white;
  padding-top: 45px;
  padding-left: 60px;
  font-size: 45px; }

.checkout-div {
  width: 100%;
  background-color: white;
  padding: 5em 0 0; }

.checkout-container {
  max-width: 80%;
  margin: 0 auto;
  background-color: white; }

.table {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse; }

.th {
  background: #01CFCF;
  color: #FFFFFF;
  font-size: 2em;
  padding: 0.6em !important;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

td {
  text-align: center;
  padding: 10px !important;
  color: #000;
  vertical-align: middle !important; }

.item-td {
  width: 45%;
  position: relative; }

.th-item {
  text-align: left; }

.td-item-div {
  padding-top: 60px;
  text-align: left;
  float: right;
  width: 50%;
  font-size: 30px;
  text-align: left; }

.cancel-button {
  padding-top: 1px;
  text-align: center;
  font-size: 30px; }

.quntity {
  margin: 1.5em 0;
  padding-left: 62px;
  float: left; }

.q-val-minus {
  background: #ffffff url("minus.ico") no-repeat;
  background-size: cover; }

.q-val-plus {
  background: #ffffff url("plus.png") no-repeat;
  background-size: cover; }

.q-val-minus, .q-val-plus {
  margin-left: 0;
  height: 40px;
  line-height: 24px;
  width: 40px;
  margin-right: 3px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  border: 1px solid #b2b2b2;
  vertical-align: bottom; }

.q-value {
  cursor: default;
  width: 40px;
  height: 40px;
  padding: 8px 0px;
  color: #A9A9A9;
  line-height: 24px;
  border: 1px solid #E5E5E5;
  background-color: #E5E5E5;
  text-align: center;
  display: inline-block;
  margin-right: 3px; }

.chktb {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse; }

.chktb td {
  text-align: left; }

.th-chk {
  background: #01CFCF;
  color: #FFFFFF;
  font-size: 2em;
  padding: 0.6em !important;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

.reg-cont {
  max-width: 80%;
  margin: 0 auto; }

.proc-button {
  margin-top: 0;
  border: none;
  background-color: #ff7000;
  height: 30px;
  width: 150px; }

.proc-button:hover {
  background-color: #01CFCF; }

.fm-txt-box {
  width: 50%;
  display: inline-block; }

.login-mail {
  border: 1px solid #E9E9E9;
  margin-bottom: 2em;
  padding: 0.5em 1em;
  color: #2e2e2e; }

.login-mail input[type="text"], .login-mail input[type="password"] {
  border: none;
  outline: none;
  font-size: 0.9em;
  color: #999;
  width: 96%; }

.news-letter {
  color: #555;
  font-size: 0.8em;
  margin-bottom: 1em;
  display: block;
  transition: 0.5s all;
  clear: both; }

.chkbox1 {
  padding-left: 27px;
  font-size: 1.2em;
  line-height: 27px;
  cursor: pointer;
  position: relative;
  color: #555; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

.display-n {
  display: none; }

/*# sourceMappingURL=style.css.map */
